@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/MontserratAlternates-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;  
}
header{
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) ), url("../css/assets/images/bg-masthead.jpg");
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
    padding-top: 250px;
}
section.content{
    padding-top: 100px;
    height: 350px;
}
section.services{
    background-color: #1D809F;
    height: 500px;
    color: white;
    padding-top: 90px;
}
.container{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.content .container h2{
    display: block;
    margin-bottom: 15px;
}

header .container h1{
    font-size: 70px;
    font-weight: bolder;
}
header .container em{
    font-size: 20px;
    font-weight: bold;
}
.button{
    background-color: #1D809F;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    transition: all .3s ease;
}
.button:hover{
    background-color: white;
    color: #1D809F;
}
.content .container h2{
    font-size: 30px;
    font-weight: bold;
}
.services .container h3{
    font-size: 15px;
    color: #ECB807;
    display: block;
    margin-bottom: 5px;
}
.what-we-offer{
    font-size: 35px;
    display: block;
    margin-bottom: 50px;
}
.fa-light,.fa-mobile{
    color: #1D809F;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    margin-bottom: 10px;
}
.fa-solid,.fa-pencil{
    color: #1D809F;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    padding-left: 34px;
    padding-right: 34px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 10px;
}
.fa-regular,.fa-thumbs-up{
    color: #1D809F;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    padding-left: 34px;
    padding-right: 34px;
    display: inline-block;
    margin-bottom: 10px;
}
.fa-solid,.fa-question{
    color: #1D809F;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    margin-bottom: 10px;
}
.responsive{
    text-align: center;
    width: 220px;
    float: left;
    margin-right: 40px;
}
.responsive h2{
    display: block;
    margin-bottom: 10px;
}
.redesigned{
    text-align: center;
    width: 250px;
    float: left;
    margin-right: 40px;
}
.redesigned h2{
    display: block;
    margin-bottom: 10px;
}

.favorited{
    text-align: center;
    width: 200px;
    float: left;
    margin-right: 40px;
}
.favorited h2{
    display: block;
    margin-bottom: 10px;
}

.question{
    text-align: center;
    width: 200px;
    float: left;
}
.question h2{
    display: block;
    margin-bottom: 10px;
}
.next-website{
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("./assets/images/bg-callout.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 670px;
    padding-top: 220px;
}
.welcome-next-webpage{
    font-size: 50px;
    font-weight: bolder;
}
.grids{
    height: 900px;
    padding-top: 130px;
}
.portfolio-1{
    height: 300px;
    width: 400px;
    float: left;
    margin-left: 100px;
    display:block;
    background-image: linear-gradient(rgba(6, 17, 177, 0.1),rgba(20, 6, 153, 0.1)),url("./assets/images/portfolio-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.portfolio-2{
    height: 300px;
    width: 400px;
    float: left;
    background-image: linear-gradient(rgba(6, 17, 177, 0.1),rgba(20, 6, 153, 0.1)),url("./assets/images/portfolio-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}
.portfolio-3{
    height: 300px;
    width: 400px;
    float: left;
    margin-left: 100px;
    background-image: linear-gradient(rgba(6, 17, 177, 0.1),rgba(20, 6, 153, 0.1)),url("./assets/images/portfolio-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
}
.portfolio-4{
    height: 300px;
    width: 400px;
    float: left;
    background-image: linear-gradient(rgba(6, 17, 177, 0.1),rgba(20, 6, 153, 0.1)),url("./assets/images/portfolio-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;

}
.h2-recent-project{
    display: inline-block;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: bolder;
}
.h3-portfolio{
    color: #ECB807;
}
.clear{
    clear: both;
}
.portfolio-1:hover{
    transform: scale(0.8);
    background-image: linear-gradient(rgba(6, 17, 177, 0.5),rgba(20, 6, 153, 0.5)),url("./assets/images/portfolio-1.jpg");
}
.portfolio-2:hover{
    transform: scale(0.8);
    background-image: linear-gradient(rgba(6, 17, 177, 0.5),rgba(20, 6, 153, 0.5)),url("./assets/images/portfolio-2.jpg");
    transition: all 0.5s ease;
}
.portfolio-3:hover{
    transform: scale(0.8);
    background-image: linear-gradient(rgba(6, 17, 177, 0.5),rgba(20, 6, 153, 0.5)),url("./assets/images/portfolio-3.jpg");
    transition: all 0.5s ease;
}
.portfolio-4:hover{
    transform: scale(0.8);
    background-image: linear-gradient(rgba(6, 17, 177, 0.5),rgba(20, 6, 153, 0.5)),url("./assets/images/portfolio-4.jpg");
    transition: all 0.5s ease;
}
.ps-1{
    text-decoration: none;
    color: rgb(231, 224, 224);
    font-size: 15px;
    text-align: center;
    display: inline-block;
    margin-top: 140px;
}
.ps-2{
    text-decoration: none;
    color: rgb(231, 224, 224);
    font-size: 13px;
    text-align: center;
    display: inline-block;
    margin-top: 140px;
}
.ps-3{
    text-decoration: none;
    color: rgb(231, 224, 224);
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-top: 140px;
}
.ps-4{
    text-decoration: none;
    color: rgb(231, 224, 224);
    font-size: 15px;
    text-align: center;
    display: inline-block;
    margin-top: 140px;
}
.below-buttons{
    height: 300px;
    background-color: #1D809F;
    padding-top: 100px;
}
.click-me-button{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    transition: all .3s ease;
}
.look-at-me-button{
    background-color: #212529;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    transition: all .3s ease;
}
.below-buttons .container h2{
    color: white;
}
.below-buttons .container a{
    display: inline-block;
    margin-top: 10px;
}
.map iframe{
    width: 100%;
}
footer{
    height: 250px;
}
a.facebook{
    background-color: #1D809F;
    border-radius: 50%;
    padding: 30px;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;

}
a.facebook i{
    color: white;
    font-size: 20px;
}
footer .container{
    margin-top: 90px;
    
}
a.twitter{
    background-color: #1D809F;
    border-radius: 50%;
    padding: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;

}
a.twitter i{
    color: white;
    font-size: 20px;
}
a.git-hub{
    background-color: #1D809F;
    border-radius: 50%;
    padding: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}
a.git-hub i{
    color: white;
    font-size: 20px;
}
footer p{
    display: block;
    margin-top: 50px;
}